# Week 3 Assignment Census Data
## Transportation profile Los Angeles
### Commuting times by neighborhoods

In [1]:
# First, provide workstation. import pandas to provide library for data exploration
# provide entrance for downloaded data
# inported data from 
import pandas as pd 
df= pd.read_csv('data/CM_2020.csv')

In [2]:
df.head()

,OBJECTID_1,drivealone_ct,boeint_fkey,driveshare_ct,bus_ct,railferry_ct,bike_ct,walk_ct,commuteother_ct,commute_travel_total,workathome_ct,commute_total,GlobalID
0,1,1000,132409,90,110,0,0,0,60,1260,10,1270,05a66234-e967-40ac-9ac9-ea644e58deb3
1,2,1000,116510,90,110,0,0,0,60,1260,10,1270,feab213e-67ae-45f5-8a70-ee69f9fd6fd1
2,3,1910,117715,254,90,0,0,15,125,2394,165,2560,cf89597d-f5bc-402b-a98c-4298ff5dfd94
3,4,1000,148227,90,110,0,0,0,60,1260,10,1270,8a7ee397-61d1-4596-a1ea-3bce6042f7a9
4,5,1000,135149,90,110,0,0,0,60,1260,10,1270,414e0d30-010e-4c9e-b0b0-a909addc7161